:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: white;
  --primary-color: #293462;
  --sub-color: #1cd6ce;
  --accent-color: #fedb39;

  --block-color0: #d64e12;
  --block-color1: #f9a52c;
  --block-color2: #efdf48;
  --block-color3: #8bd346;
  --block-color4: #60dbe8;
  --block-color5: #167bd8;
  --block-color6: #9b5fe0;

  --font-large: 64px;
  --font-medium: 48px;
  --font-small: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;

  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.5;
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--text-color);
  background-color: var(--primary-color);
}

#root {
  width: 100%;
  height: 100vh;
}
